[
  {order_service_erlang, [
    %% Cowboy 服务器配置
    {http_port, 18080},
    
    %% 数据库配置
    {pg_host, "192.168.207.143"},
    {pg_port, 5432},
    {pg_database, "erlang"},
    {pg_username, "postgres"},
    {pg_password, "postgres"},
    {pg_pool_size, 10},
    
    %% Redis配置
    {redis_host, "192.168.207.143"},
    {redis_port, 6379},
    {redis_database, 0},
    {redis_password, ""},
    {redis_pool_size, 10},
    
    %% 腾讯地图API配置
    {tencent_map_api_key, "YOUR_TENCENT_MAP_API_KEY"},
    {tencent_map_direction_url, "https://apis.map.qq.com/ws/direction/v1/driving/"}
  ]},
  
  {sasl, [
    {sasl_error_logger, false},
    {errlog_type, error},
    {error_logger_mf_dir, "logs"},
    {error_logger_mf_maxbytes, 10485760},
    {error_logger_mf_maxfiles, 5}
  ]}
].